<div id="footer" class="mb-5 pt-xl-5">
    <hr>
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}"><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
<script type="text/javascript">
        var button = document.getElementById('show_songs');
        button.addEventListener('change', function() {
            showSongs(button);
        });

        function showSongs(button) {
            var i, len, allItems;
            allItems = document.getElementsByClassName('music_block');
            if(button.checked){
                for(i=0, len=allItems.length; i<len; i++) {
                    allItems[i].style.display = 'block';
                }
            }
            if(!button.checked){
                for(i=0, len=allItems.length; i<len; i++) {
                    allItems[i].style.display = 'none';
                }
            }
        }
        showSongs(button);

</script>
