{{ define "main" }}
<div class="container">
    <h1>Domeinen</h1>
    <div class="row">
        <div class="col">
            <p>
                Hieronder vind je alle blog posts, artikelen en tweets gegroepeerd per domein .
            </p>
            <p>
                Alle domeinen met meer dan één entry staan in de <em>tagcloud</em>. Daaronder een lijst met
                <em>alle</em> domeinen.
            </p>
        </div>
    </div>
    <div class="row pb-2">
        <div class="col">
            <h2>Tagcloud</h2>
            <div class="tagcloud">
                {{ if ne (len $.Site.Taxonomies.domains) 0 }}
                {{ $largestFontSize := 1.6 }}
                {{ $smallestFontSize := 1.0 }}
                {{ $fontSpread := sub $largestFontSize $smallestFontSize }}
                {{ $max := add (len (index $.Site.Taxonomies.domains.ByCount 0).Pages) 1 }}
                {{ $min := len (index $.Site.Taxonomies.domains.ByCount.Reverse 0).Pages }}
                {{ $spread := sub $max $min }}
                {{ $fontStep := div $fontSpread $spread }}
                {{ range $name, $taxonomy := $.Site.Taxonomies.domains }}
                {{ $tagCount := len $taxonomy.Pages }}
                {{ $currentFontSize := (add $smallestFontSize (mul (sub $tagCount $min) $fontStep) ) }}
                {{ $weigth := div (sub (math.Log $tagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
                {{ $currentFontSize := (add $smallestFontSize (mul (sub $largestFontSize $smallestFontSize) $weigth)) }}
                {{ if gt $tagCount 1 }}
                <a href="{{ "/domains/" | relURL }}{{ $name | urlize }}"
                class="tagcloud-item" style="font-size: {{ $currentFontSize }}rem;">
                {{ $name }}</a><span style="font-size: {{ $currentFontSize }}rem;"><sup>{{ $tagCount }}</sup></span>
                {{ end }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <h2>Lijst</h2>
            <p>
            Dit zijn alle domeinen:
            </p>
            <ul>
                {{ range .Data.Terms.Alphabetical }}
                <li>
                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                    ({{ .Count }} item{{ if ne .Count 1}}s{{ end }})
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
{{ end }}
