{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <div class="row">
        <div class="col">
            <!-- content thing speciaal voor blogs -->
            {{.Content}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ range .Pages.GroupByDate "2006" }}
                <h2>{{ .Key }}</h2>
            <div class="ps-3">
                    {{ range .Pages }}
                    <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a> <small class="text-muted">{{ .Date | time.Format ":date_long" }}</small></h3>
                    {{ .Summary }}
                    {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
