{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <div class="row">
        <div class="col">
            <!-- content thing speciaal voor blogs -->
            {{.Content}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ range .Pages.GroupByDate "January 2006" }}
                <h2>{{ .Key }}</h2>
                <div class="ps-3">
                    {{ $.Scratch.Set "index" 0 }}
                    {{ $len := (len .Pages) }}
                    {{ range .Pages }}
                        {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
                        {{ if gt .Date.Year 2021}}
                            {{ partial "stream-entry" . }}
                        {{ else }}
                            {{ if eq ($.Scratch.Get "index") 1 }}
                                <a href="{{"/" | relURL}}{{ .Date.Format "2006" }}/{{ .Date.Format "01" }}">Bekijk het archief van {{ .Date | time.Format "January 2006" }}</a>
                                ({{ $len }} item{{ if ne $len 1 }}s{{end}})
                            {{ end }}
                        {{ end }}
                    {{ end }}

                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
